@charset "utf-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    margin: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: #000;
    background-color: #000;
}

header{
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    background-color: #fbffbe;
    color: #111820;
    padding: 0 5rem;
    top: 0;
    z-index: 1;
}


.logo img{
    width: 200px;
}

.navbar .menu{
    display: flex;
}

.menu-item{
    text-align: center;
    width: 150px;
    padding: 1.5rem;
    position: relative;
}

.navbar a{
    color: #111820;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display: block;
}

.navbar a:hover{
    color: #636b75;
}

.submenu{
    display: none;
    top: 100%;
    position: absolute; /* 안에 내용은 고정되어 있다. */
    background-color: #343b44;
    min-width: 150px;
}

.submenu li{
    border-bottom: 1px solid #636b75;
    padding: 5px 0;
}


.submenu li:hover{
    background-color: #636b75;
}

.submenu li a{
    text-decoration: none;
    font-size: 14px;
    color: #fbffbe;
}

.submenu li a:hover{
    color: #fbffbe;
}

.menu-item:hover .submenu{
    display: block;
}

a{
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}



/* 다중 컬럼 영역 */
.container{}

section{}
section .inner{
    width: 1200px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.inner h1{
    color: #fbffbe;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 50px;
}

section .inner .about-me{
    background-color: #333;
    padding: 25px;
    column-count: 3;
    column-gap: 50px;
    column-rule: 1px dashed #999;
    /* 컬럼 사이에 선을 그리는 태그 */
    margin: 20px 0;

}

section .inner .about-me h2{
    column-span: all; /* 컬럼을 무시하고, 전체 너비 차지 */
    position: relative;
    z-index: 1;
}

section .inner .about-me h2:before{
    content: '';
    position: absolute;
    background-color: #fbffbe;
    width: 250px;
    height: 30px;
    z-index: -1;
    transform: translateY(-10px);
}

section .inner .about-me img{
    width: 100%;
}
.intro{
    color: #e2e2e2;
    font-weight: lighter;
}
@media(max-width:767px)
{
    section .inner{
        width: 100%;
    }

    section .inner h1{
        font-size: 2rem;
    }

    section .inner .about-me{
        column-count: 1;
    }
}

@media(max-width:767px) and (max-width:1024px)
{
    section .inner{
        width: 100%;
    }

    section .inner h1{
        font-size: 3rem;
    }

    section .inner .about-me{
        column-count: 2;
    }
}