@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body{
    background-color: #111820;
    color: #fff;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    position: sticky;
    justify-content: space-between;
    background-color: #fbffbe;
    color: #111820;
    padding: 0 5rem;
    top: 0;
    z-index: 1;
}

.logo img{
    width: 200px;
}

.navbar .menu{
    display: flex;
}

.menu-item{
    text-align: center;
    width: 150px;
    padding: 1.5rem;
    position: relative;
}

.navbar a{
    color: #111820;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display: block;
}

.navbar a:hover{
    color: #636b75;
}

.submenu{
    display: none;
    top: 100%;
    position: absolute; /* 안에 내용은 고정되어 있다. */
    background-color: #343b44;
    min-width: 150px;
}

.submenu li{
    border-bottom: 1px solid #636b75;
    padding: 5px 0;
}


.submenu li:hover{
    background-color: #636b75;
}

.submenu li a{
    text-decoration: none;
    font-size: 14px;
    color: #fbffbe;
}

.submenu li a:hover{
    color: #fbffbe;
}

.menu-item:hover .submenu{
    display: block;
}


.hero{
    background-image: url(../img/back02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    height: 80vh;
    position: relative;
    justify-content: center;
}

.hero-contents h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fbffbe;
    text-shadow: 10px 0 10px #000000, 0 10px 10px #000000;
}

.hero-contents p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: 10px 0 10px #000000, 0 10px 10px #000000;
}

.cta-btn{
    background-color: #fbffbe;
    color: #111820;
    padding: 0.75rem 2rem;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.cta-btn:hover{
    background-color: #343b44;
    color: #fbffbe;
    transition: background-color 0.3s ease;
}

/* work */
.t_work{
    text-align: center;
    background-color: #000000;
    padding-top: 30px;

}

.t_work h1{
    color: #fff;
    font-size: 3rem;
}

.work{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding: 50px 0;
    /* min-height: 100vh; */ /* height: 100vh; */
    gap: 50px;
}

.hexa{
    width: 300px;
    height: 300px;
    position: relative;
    transition: 0.3s;
}

.shape{
    clip-path: polygon(30% 0, 70% 0, 100% 50%, 70% 100%, 30% 100%, 0 50%); /* 특정 모양으로 잘라내는 역할 */
    /* 50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30% */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.shape img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hexa:hover{
    transform:translateY(-40px);
}

.cap{
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.hexa:hover .cap{
    opacity: 1;
}
/* hexa를 호버했을때 cap의 opacity를 1로 하자. */

.hexa:nth-child(1) .cap{
    background: linear-gradient(to top, rgb(221,7,210),transparent);
}

.hexa:nth-child(2) .cap{
    background: linear-gradient(to top, rgb(7, 221, 210),transparent);
}

.hexa:nth-child(3) .cap{
    background: linear-gradient(to top, rgb(210, 221, 221),transparent);
}

/* 소개섹션 */
.about{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}
.section-inner{
    width: 1280px;
    min-height: 100vh;
}

/* 전체 레이아웃 */
.accordion-content{
    display: flex;
    height: 100%;
}

/* 현재는 비어있지만, 확장이 가능하다. */
.focus{
    flex: 1; /* 공간을 하나로 차지한다 */
    background-color: #dadada;
}

.accordion{
    flex: 4;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.accordion * {
    transition: all 0.5s ease;
}

.accordion li{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    position: relative;
    color: #000000;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.accordion li:nth-child(1){
    background-color: #fbffbe;
}

.accordion li:nth-child(2){
    background-color: #f8ff97;
}

.accordion li:nth-child(3){
    background-color: #f4ff53;
}

.accordion li:last-child{
    border-right: none;
}

.accordion li:hover{
    flex: 4;
}

.accordion:hover li:not(:hover){
    flex: 0.8;
}

/* li:not(:hover) 
: 한개의 li 위에 마우스를 올려 놓은 것
not(:hover) 
: 안올린 것 */

.number{
    font-size: 5rem;
    font-weight: bold;
}

.info{
    transform:translateY(50px);
}

.info h2{
    margin: 2rem;
}

.info p{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    line-height: 1.6;

}

.accordion li:hover .info{
    transform:translateY(0);
}

.accordion li:hover .info p{
    opacity: 1;
    max-height: 200px;
    margin-top: 10px;
}